{% extends 'base.html.twig' %}
{% block title %}
	Articles | N°
	{{ article.id }}
{% endblock %}
{% block body %}
	<section class="row articles">

		<articles class="col-md-3 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">

			<h2>{{ article.title }}</h2>
			<div class="metadata">
				<p>{{article.createdAt | date("d-m-Y - H:m:s")}}</p>

				<p>Catégorie : Politique</p>
			</div>
			<div class="content">
				<img width="200" height="200" src={{article.image}} alt={{article.title}}>
				{{ article.content | raw }}
				<a href="{{ path('blog') }}" class="btn btn-secondary">
					Revenir à la liste des articles
				</a>
				<a href="{{ path('blog_edi', {id: article.id}) }}" class="btn btn-primary">
					Editer cet article
				</a>
			</div>
		</articles>
	</section>
{% endblock %}
